---
---
table {
  border-collapse: collapse;
}
td, th {
  border-width: 1px;
  border-style: solid;
  padding: 5px;
}
tr:hover {
  background-color: #f5f5f5;
}
td.planning {
  background-color: #d1e0e0;
}
td.in-progress {
  background-color: #ffff99;
}
td.poc {
  background-color: #99d6ff;
}
td.waiting {
  background-color: #e6b3b3;
}

