<table>
  <thead>
    <tr>
      <th>Feature Name</th>
      <th>Issue</th>
      <th>Developer(s)</th>
      <th>Status</th>
      <th>Last Update</th>
      <th>See Also</th>
    </tr>
  </thead>
  <tbody>
  {% for feature in site.data.features %}
    <tr>
      <td>
        {{ feature.name }}
      </td>
      <td>
        <a href="https://github.com/QubesOS/qubes-issues/issues/{{ feature.issue }}">{{ feature.issue }}</a>
      </td>
      <td>
      {% if feature.devs%}
        {{ feature.devs }}
      {% else %}
        (none)
      {% endif %}
      </td>
      <td>
      {% if feature.status.code %}
        {% if feature.status.url %}
          <a href="{{ feature.status.url }}">{{ feature.status.code }}</a>
        {% else %}
          {{ feature.status.code }}
        {% endif %}
      {% else %}
        Planning
      {% endif %}
      </td>
      <td>
        <a href="{{ feature.updated.url }}">{{ feature.updated.date }}</a>
      </td>
      <td>
      {% for info in feature.info %}
        {% if info.desc %}
          [<a href="{{ info.url }}">{{ info.desc }}</a>]
        {% endif %}
      {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>

