<table>
  <thead>
    <tr>
      <th>Feature Name</th>
      <th>Issue</th>
      <th>Developer(s)</th>
      <th>Status</th>
      <th>Last Update</th>
      <th>See Also</th>
    </tr>
  </thead>
  <tbody>
  {% for feature in site.data.features %}
    <tr id="{{ feature.name | slugify }}">
      <td href="#{{ feature.name | slugify }}">
        <a href="#{{ feature.name | slugify }}" class="plain">{{ feature.name }}</a>
      </td>
      <td>
        <a href="https://github.com/QubesOS/qubes-issues/issues/{{ feature.issue }}">{{ feature.issue }}</a>
      </td>
      <td>
      {% if feature.devs %}
        {{ feature.devs }}
      {% else %}
        (none)
      {% endif %}
      </td>
      {% if feature.status.term == 'Planning' %}
      <td class="planning">
      {% elsif feature.status.term == 'Partial' %}
      <td class="partial">
      {% elsif feature.status.term == 'In progress' %}
      <td class="in-progress">
      {% elsif feature.status.term == 'PoC' %}
      <td class="poc">
      {% elsif feature.status.term == 'Blocked' %}
      <td class="blocked">
      {% elsif feature.status.term == 'Question' %}
      <td class="question">
      {% else %}
      <td class="TBD">
      {% endif %}
      {% if feature.status.term %}
        {% if feature.status.url %}
          <a href="{{ feature.status.url }}">{{ feature.status.term }}</a>
        {% else %}
          {{ feature.status.term }}
        {% endif %}
      {% else %}
        Planning
      {% endif %}
      </td>
      <td>
        <a href="{{ feature.updated.url }}">{{ feature.updated.date }}</a>
      </td>
      <td>
      {% for info in feature.info %}
        {% if info.desc %}
          [<a href="{{ info.url }}">{{ info.desc }}</a>]
        {% endif %}
      {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
<h2>Definitions</h2>
<ul>
  <li><b>Feature Name</b>: An informal name or description for the feature.</li>
  <li><b>Current Developers</b>: "(none)" means that no developer is currently assigned
  to this feature. Developers from the community are highly encouraged to claim
  these features and work on them! (Even if a feature currently has developers
  assigned to it, it's usually the case that help is still wanted.)</li>
  <li><b>Status</b>: See the table below for the meaning of each status term.</li>
  <li><b>Last Update</b>: For in-progress features, this denotes the last <em>substantive</em>
  development progress update (not merely the last time there was activity on
  the issue or thread).</li>
  <li><b>See Also</b>: Related discussions, PoCs, or other links.</li>
</ul>
<table>
  <thead>
    <tr>
      <th>Status Term</th>
      <th>Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="planning">Planning</td>
      <td>Feature is being discussed to determine scope and goals. Development has not yet begun.</td>
    </tr>
    <tr>
      <td class="partial">Partial</td>
      <td>Feature is partially complete but is not under active development.</td>
    </tr>
    <tr>
      <td class="in-progress">In progress</td>
      <td>Feature is currently under development.</td>
    </tr>
    <tr>
      <td class="poc">PoC</td>
      <td>A proof-of-concept has been successfully created, but more work (and/or code review) is required to integrate it with Qubes.</td>
    </tr>
    <tr>
      <td class="blocked">Blocked</td>
      <td>Development is blocked.</td>
    </tr>
    <tr>
      <td class="question">Question</td>
      <td>In order to determine the status of this feature, one or more questions need to be answered first. The question has been asked, and we are waiting to receive an answer.</td>
    </tr>
  </tbody>
</table>
<h2>About the Tracker</h2>
<p>This tracker is maintained as a tool to assist the core Qubes developers. Its
purpose is to allow the developers to have an easily-accessible, high-level,
current overview of features that are being developed by community members (as
opposed to core developers). In most cases, these issues have the "far in the
future" milestone on GitHub, which is not very informative. This tracker offers
more fine-grained information about the status of each feature, which is useful
when adjusting the Qubes roadmap for the next release. In order to best serve
this purpose, only those features that meet the following criteria are
tracked:</p>
<ul>
  <li>The feature is being developed by a community member, not (solely) by a
  member of the core Qubes development team (i.e., one of the people on the
  <a href="https://www.qubes-os.org/team/">Team page</a> who is a
  developer).</li>
  <li>The feature is assigned to a community developer and/or is at some stage
  of progress. (In other words, mere proposals or ideas that no one has
  volunteered to take responsibility for are not tracked. This allows us to
  maintain a high signal-to-noise ratio and hence to preserve the tracker as a
  useful tool for developers.)</li>
  <li>The feature is not yet complete. Once it is complete, it will be removed
  from this tracker. (This entails that any patches have been accepted,
  reviewed, and merged.)</li>
</ul>
<p>This page is hosted from the <a href="https://github.com/QubesOS/qubes-issues/tree/gh-pages">qubes-issues</a> repository.</p>


