<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    table {
      border-collapse: collapse;
    }
    td, th {
      border-width: 1px;
      border-style: solid;
      padding: 5px;
    }
    tr:hover {
      background-color: #f5f5f5;
    }
    td.planning {
      background-color: #e6e6e6;
    }
    td.in-progress {
      background-color: #ccffcc;
    }
    td.on-hold {
      background-color: #ffffcc;
    }
    td.poc {
      background-color: #ccccff;
    }
    td.waiting {
      background-color: #ffcccc;
    }
  </style>
</head>
<body>
{{ content}}
</body>
</html>

